body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
    color: white;
    font-size: 25px;
}

input {
    margin: 0 10px;
    outline: none;
    font-size: 25px;
}

