:root {
    --background: #e4e3e8;
    --nav-color: #ffffff;
    --logo-color: #f4f4f6;
}


*, 
*::before, 
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: var(--background);
    padding: 0.375rem;
    font-family: Poppins, sans-serif;
    position: relative;
}

button, a {
    all: unset;
    font: inherit;
    cursor: pointer;
}

nav {
    position: fixed;
    width: 5rem;
    height: calc(100vh - 0.75rem);
    background-color: var(--nav-color);
    padding: 1rem 0.75rem;
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    transition: width 500ms ease;
}

body.active nav {
    width: 15rem;
}

.sidebar-header, 
.sidebar-links {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.sidebar-header {
    margin-bottom: 1.5rem;
}

.logo-wrapper {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1.25rem;
}

.logo-wrapper > i {
    width: 3.25rem;
    height: 3.25rem;
    background-color: var(--logo-color);
    padding: 0.4rem;
    border-radius: 0.5rem;
}

.sidebar-links {
    flex-direction: column;
    margin-bottom: auto;
    gap: 0.6rem;
    padding-top: 1.5rem;
}

nav > .sidebar-links {
    border-top: 1px solid rgba(211, 211, 211, 1);
}

body.active .sidebar-links,
body.active .sidebar-header,
body.active .user-profile {
    justify-content: start;
    align-items: stretch;
}